/* This CSS is used to implement the product boxes in the search, home, and category pages */

.product-box {
    margin-top: 5px;
}

.product-box img {
    max-height: 60%;
    max-width: 60%;
    float: left;
}

.product-box p {
    font-size: 24pt;
    text-decoration: none;
    color: black;
    font-weight:bold;
}

/* Account Page CSS */
.account-box {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5%;
}

.account-box img {
    float: left;
    max-height: 70%;
    max-width: 70%;
}

/* Product View CSS */
.product-view img {
    max-height: 50%;
    max-width: 50%;
}

.product-view ul {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5%;
    margin-left: 5px;
}

.review-box {
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 5%;
}

.product-interact a{
    margin: 5px;
}

#review-message {
    background-color: lightgray;
    padding: 5px;
    border-radius: 5%;
}

/* CSS for base.html */
.navbar-coloring {
    background-color:#2d6351;
    color: white;
}

#website-name {
    color: white;
    font-weight: bold;
}

#navbar-list a {
    color: white;
}

.sidebar-coloring {
    background-color: cadetblue;
    color: white;
}

.sidebar-coloring a {
    color: white;
}

.sidebar-coloring li:hover {
    border-style: solid;
    border-color: #2d6351;
}

#search-bar {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

#search-bar input {
    margin-top: 15px;
    margin-right: 10px;
    height: 40px;
    width: 500px;
}

#navbar-content {
    color: white;
    float: right;
    margin-top: 7%;
    font-weight: bold;
}

/* Global CSS */
.container-fluid {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}
.row {
    flex: 1; 
}
main {
    padding: 20px; 
}
.sidebar {
    background-color: white; 
}