{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Account
{% endblock %}

{% block body_block %}
<div>
    {% if userAccount.account_img %}
        <img src="{{ userAccount.account_img.url }}" alt="{{ user.username }}'s account image" class="img-fluid mb-4">
    {% endif %}
    <ul class="nav flex-column">
        <li>{{ user.username }}</li>
        <li>{{ user.first_name }}</li>
        <li>{{ user.last_name }}</li>
    </ul>
</div>
<div>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="{% url 'shop:change_name' %}">Change Name</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'shop:change_username' %}">Change Username</a></li>
        {% if userAccount.seller_account == False %}
        <li class="nav-item"><a class="nav-link" href="{% url 'shop:become_seller' %}">Become a seller</a></li>
        {% endif %}
    </ul> 
</div>
{% endblock %}