{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a New Product
{% endblock %}

{% block body_block %}
{% if user.seller_account %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Add a New Product</h1>
        <form role="form" id="search_form" method="post" action=".", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <h3>This account is not a seller. To become a seller please go to the account page.</h3>
</div>
{% endif %}
{% endblock %}
