<!DOCTYPE html>
{% load staticfiles %}
{% load shop_template_tags %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bob's Gadgets - {% block title_block %}All the tools you'll ever need!{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
    <!-- favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-coloring">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'images/icon.png' %}" alt="Company Logo" id="website-logo" style="width:30%;height:100%;">
          <a class="navbar-brand" href="{% url 'shop:homepage' %}" id="website-name">Bob's Gadgets</a>
        </div>
        <div class="col-md-4">
          <!-- Search form - Redirects to search.html -->
          <form method = "POST" action="{% url 'shop:search' %}"  id="search-bar">
            {% csrf_token %}
            {{ search_form.as_p }}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
        <div class="col-md-4">
            <a class="navbar-brand" href="{% url 'shop:homepage' %}" id="navbar-content">Home</a>
        </div>
      </div>
    </nav>
  </header>
    <!-- Main content -->

    <div class="container-fluid">
      <div class="row">
          <nav class="sidebar-coloring col-md-2 d-md-block">
              <div class="sidebar-sticky">
                {% block sidebar_block %}
                <h3>Categories</h3>
                <div>
                  {% get_category_list category %}
                </div>
             
                <div>
                  <h3>Account</h3>
                  <ul class="nav flex-column">
                    {% if user.is_authenticated %}
                    <li clas="nav-item">
                      <a class="nav-link" href="{% url 'shop:view_account' %}">
                        <span data-feather="archive"></span>View Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'auth_logout' %}">
                        <span data-feather="archive"></span>Logout</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'shop:wishlist_detail' %}">
                        <span data-feather="archive"></span>Wishlist</a>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'shop:basket_detail' %}">
                        <span data-feather="archive"></span>Basket</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'registration_register' %}">
                          <span data-feather="archive"></span>Register</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'auth_login' %}">
                        <span data-feather="archive"></span>Login</a>
                    </li>
                    {% endif %}
                  </ul>
                </div>    
              </div>
              {% endblock %}
          </nav>
          
           <main role="main" class="col-md-9  ml-sm-auto col-lg-10 px-4">
            {% block body_block %}{% endblock %}
              
            <!-- FOOTER -->
            <footer class="mt-4 py-3 bg-light">
              <div class="container text-center">
                <p>&copy; Bob's Gadgets {% now "Y" %}</p>
              </div>
            </footer>
          </main>
      </div>
    </div>
  
    <!-- Bootstrap JS Bundle -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>
    <!-- Static JS -->
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>
