{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ change }}
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>{{ change }}</h2>
        {% if message %}
        <p> {{ message }} </p>
        {% endif %}
        <form role="form" enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}