{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="row">
        <h2>Most Viewed</h2>
        <ul>
            <div class ="row">
                {% for product in most_viewed_products %}
                <div class="col-md-3 product-box">
                    <a href="{% url 'shop:view_product' product.slug %}"> 
                        {% if product.image_reference %}
                        <img src="{{ product.image_reference.url}}" alt="{{ product.product_name}}"/>
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        {{ product.product_name }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </ul>
</div>
<div class="row">
        <h2>Recently Added</h2>
        <ul>
            <div class ="row">
                {% for product in recently_added_products %}
                <div class="col-md-3 product-box">
                    <a href="{% url 'shop:view_product' product.slug %}"> 
                        {% if product.image_reference %}
                        <img src="{{ product.image_reference.url}}" alt="{{ product.product_name}}"/>
                        {% else %}
                            <p>No image available</p>
                        {% endif %}
                        {{ product.product_name }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </ul>
</div>
{% endblock %}
