{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col-md-8">
        <h2>Most Viewed</h2>
        <ul>
            {% for product in most_viewed_products %}
            <a href="{% url 'shop:view_product' product.slug %}"> {{ product.product_name }}</a>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Recently Added</h2>
        <ul>
            {% for product in recently_added_products %}
            <a href="{% url 'shop:view_product' product.slug %}"> {{ product.product_name }}</a>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
