{% extends 'shop/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
    <ul>
        <div class="row">
        {% for product in products %}
        <div class="col-md-6 product-box">
        <a href="{% url 'shop:view_product' product.slug %}">
            {% if product.image_reference %}
                <img src="{{ product.image_reference.url}}" alt="{{ product.product_name}}"/>
            {% else %}
                <p>No image available</p>
            {% endif %}
            <p>{{ product.product_name }}<br>
            £{{ product.price }}<br>
            Rating: {{ product.average_rating }}</p>
        </a>    
        </div>
        {% endfor %}
        </div>
    </ul>
{% endblock %}